body {
	background-color: #fafafa;
}

@media only screen and (max-width: 768px) {
    body {
		background-color: #fafafa;
		position: absolute;
	}
}

html {
	scroll-behavior: smooth;
}

h2,
h3,
h4,
h5,
h6 {
	color: #70547C;
}

p {
	line-height: 2rem;
	text-align: justify;
}

hr {
	margin-top: 3rem;
}

.welcome {
	font-family: 'DM Sans';
}

.contact-row {
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
    flex: 1 1 50%; /* Rozmiar każdej kolumny - 50% szerokości */
    min-width: 300px; /* Minimalna szerokość kolumny */
    box-sizing: border-box; /* Zapobiega dodatkowemu paddingowi i borderowi */
    padding: 10px; /* Dodatkowy padding dla estetyki */
}

@media (max-width: 800px) { /* Dla ekranów o maksymalnej szerokości 600px */
    .col-1 {
        flex-basis: 100%; /* Każda kolumna zajmuje 100% szerokości na mniejszych ekranach */
    }
}


/*-----------------------------------------NAVBAR*/

.section-scrollspy {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

nav ul a,
.sidenav a
{
	color: #70547C !important;
	text-transform: uppercase;
}

.brand-logo{
	font-family: 'Playlist', 'sans-serif';
	text-transform:capitalize; 
	color: #70547C !important;
} 

.sidenav-trigger {
	color: #70547C;
}

/*-----------------------------------------END NAVBAR*/

/*-----------------------------------------IMAGES*/

.parallax-container {
	min-height: 380px;
	line-height: 00;
	width: auto;
	height: auto;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: auto;
}

/*-----------------------------------------END IMAGES*/

/*-----------------------------------------ICONS*/

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

/*-----------------------------------------END ICONS*/
/*-----------------------------------------CENNIK*/
table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #f2f2f2;
}
/*-----------------------------------------END CENNIK*/

/*-----------------------------------------IMG ZOOM*/

#magnify {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.92);
	position: fixed;
	z-index: 4;
	display: none;
	flex-direction: column;
	justify-content: center;
}

#magnify h1 {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5% 5%;
	color: #fff;
	transition: 0.4s ease-in-out;
}

#magnify h1:hover {
	color: rgb(255, 44, 90);
	cursor: pointer;
}

#img_here {
	width: 90%;
	height: 90%;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	margin: 0px auto;
}

/*-----------------------------------------END IMG ZOOM*/
/*-----------------------------------------FOOTER*/
.social-icon {
	width: 15px;
}

.page-footer {
	margin: 0;
	background-color: #70547C;
}

.footer-copyright {
	background-color: #70547C;
}

/*-----------------------------------------END FOOTER*/

/*-----------------------------------------MEDIA QUERIES*/

@media only screen and (max-width : 414px) {
	h4 {
		font-size: 2rem;
	}
}

@media only screen and (max-width : 375px) {
	h4 {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width : 360px) {
	h4 {
		font-size: 1.6rem;
	}

	h5 {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width : 280px) {
	h4 {
		font-size: 1.4rem;
	}
}

/*-----------------------------------------END MEDIA QUERIES*/

/*-----------------------------------------GALLERY*/

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-container img {
    width: calc(33.33% - 10px); 
    margin-bottom: 10px; 
    object-fit: cover;
}

#photos-1 img,
#photos-2 img,
#photos-3 img,
#photos-4 img,
#photos-5 img {
    max-width: 300px;
    height: auto;
    margin: 4.5% 0px;
    transition: 0.4s ease-in-out;
}

#photos-1 img:hover,
#photos-2 img:hover,
#photos-3 img:hover,
#photos-4 img:hover,
#photos-5 img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#prev_button,
#next_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 5;
}

#prev_button {
    left: 10px;
}

#next_button {
    right: 10px;
}

#image_number {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}
/*-----------------------------------------END GALLERY*/
/*-----------------------------------------MAP*/
.map {
	width: -webkit-fill-available !important;
}
/*-----------------------------------------END MAP*/